<h2>会員情報編集</h2>
<%= form_with model: @customer do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "氏名" %>
    <%= text_field :lase_name, autofocus: true %>
    <%= text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label "フリガナ" %>
    <%= text_field :last_name_kana %>
    <%= text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :telephone_number, "電話番号" %>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
<% end %>