<h2>マイページ</h2>
<h3 class="font-weight-bold">登録情報</h3> <%= link_to '編集する', edit_customer_path, class: 'btn btn-success' %>
  <table>
    <tbody>
    <% @customer.each do |f| %>
      <tr>
        <tb>氏名</tb>
        <td><%= customer.last_name %>　<%= customer.first_name %></td>
      </tr>
      <tr>
        <tb>カナ</tb>
        <td><%= customer.last_name_kana %> <%= customer.first_name_kana %></td>
      </tr>
      <tr>
        <tb>郵便番号</tb>
        <td><%= customer.postal_code %></td>
      </tr>
      <tr>
        <tb>住所</tb>
        <td><%= customer.address %></td>
      </tr>
      <tr>
        <tb>電話番号</tb>
        <td><%= customer.telephone_number %></td>
      </tr>
      <tr>
        <tb>メールアドレス</tb>
        <td><%= customer.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<h3 class="font-weight-bold">配送先</h3> <%= link_to '一覧を見る', addresses_path, class: 'btn btn-primary' %>

<h3 class="font-weight-bold">注文履歴</h3> <%= link_to '一覧を見る', orders_path, class: 'btn btn-primary' %>