<h5 class="bg-6B7280">商品一覧</h5>
  <%= link_to new_admin_item_path, class: "btn" do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td class="<%= item.is_sold ? 'text-success' : 'text-secondary' %>">
          <%= item.is_sold ? '販売中' : '販売停止中' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @items %>