<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</p>

<h3>新着商品</h3>
<table>
  <tbody>
  <% @items.each_with_index do |item, index| %>
    <tr>
      <td>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_item_image(250, 350) %>
        <% end %>
      </td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
    </tr>
    <% break if index == 3 %> <!-- 最初の4つの商品を表示 -->
  <% end %>
  </tbody>
</table>

<% if @items.size > 4 %> <!-- 商品が5件以上ある場合のみ表示 -->
  <%= link_to '全ての商品を見る', items_path %>
<% end %>