<table>
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
  <% @genres.each do |f| %>
    <tr>
      <td><%= genre.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</p>

<h3>新着商品</h3>
<table>
  <tbody>
  <% @items.each do |f| %>
    <tr>
      <td><%= image_tag items.get_item_image(200,100) %></td>
      <td><%= items.name %></td>
      <td><%= items.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to '全ての商品を見る', items_path %>