<!-- タイトル背景はCSSで変更する必要あり -->
<h5 class="bg-6B7280">注文履歴詳細</h5>

  <% @order.each do |f| %>
    <div class="field">
      <%= f.label, "購入者" %>
      <%= f.customer.last_name %> <%= f.customer.first_name %>
    </div>

    <div class="field">
      <%= f.label, "注文日" %>
      <%= f.created_at.strftime('%Y/%m/%d') %>
    </div>

    <div class="field">
      <%= f.label, "配送先" %>
      〒<%= f.postal_code %><%= f.address %>
      <%= f.receiver_name %>
    </div>

    <div class="field">
      <%= f.label, "支払方法" %>
      <%= f.payment_type %>
    </div>

    <div class="field">
      <%= f.label, "注文ステータス" %>
      <%= f.status %>
    </div>
  <% end %>
