<!-- タイトル背景はCSSで変更する必要あり -->
<h5 class="bg-6B7280">注文履歴詳細</h5>

    <div class="field">
      <p class="font-weight-bold">購入者</p>
      <%= @order.customer.last_name %> <%= @order.customer.first_name %>
    </div>

    <div class="field">
      <p class="font-weight-bold">注文日</p>
      <%= @order.created_at.strftime('%Y/%m/%d') %>
    </div>

    <div class="field">
      <p class="font-weight-bold">配送先</p>
      〒<%= @order.postal_code %><%= @order.address %>
      <%= @order.receiver_name %>
    </div>

    <div class="field">
      <p class="font-weight-bold">支払方法</p>
      <%= Order.payment_types_i18n[@order.payment_type] %>
    </div>

    <div class="field">
      <p class="font-weight-bold">注文ステータス</p>
      <%= form_with model: @order, url: order_path(@order.id) do |f| %>
        <%= f.select :status, Order.statuses.keys.map{|k| [I18n.t("enums.order.status.#{k}"),k]} %>
        <%= f.submit "更新", class: "btn btn-success" %>
      <% end %>
    </div>

  <table class="table">
    <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
    </thead>
    <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.price_tax_in %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotal %></td>
        <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |f| %>
          <td><%= f.select :product_status, OrderDetail.product_statuses.keys.map{|k| [I18n.t("enums.order_detail.product_status.#{k}"),k]} %></td>
          <td><%= f.submit "更新", class: "btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>商品合計</th>
        <td><%= @order.total_payment %></td>
      </tr>
      <tr>
        <th>送料</th>
        <td><%= @order.postage %></td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td><%= @order.total_payment + @order.postage %></td>
      </tr>
    </tfoot>
  </table>