<!-- タイトル背景はCSSで変更する必要あり -->
<h5 class="bg-6B7280">注文履歴詳細</h5>

  <% @order.each do |f| %>
    <div class="field">
      <%= f.label "購入者", class: "font-weight-bold" %>
      <%= f.customer.last_name %> <%= f.customer.first_name %>
    </div>

    <div class="field">
      <%= f.label "注文日" %>
      <%= f.created_at.strftime('%Y/%m/%d') %>
    </div>

    <div class="field">
      <%= f.label "配送先" %>
      〒<%= f.postal_code %><%= f.address %>
      <%= f.receiver_name %>
    </div>

    <div class="field">
      <%= f.label "支払方法" %>
      <%= f.payment_type %>
    </div>

    <div class="field">
      <%= form_with model: @order, url: order_path(order.id) do |f| %>
        <%= f.label "注文ステータス" %>
        <%= f.select :status, options_from_collection_for_select(Order.all, :id, :status) %>
        <%= f.submit "更新", class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>

  <table class="table">
    <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
    </thead>
    <tbody>
    <% @order_details.each do |f| %>
      <tr>
        <td><%= f.item.name %></td>
        <td><%= f.amount %></td>
        <td><%= f.price_tax_in %></td>
        <%= form_with model: @order_detail, url: admin_order_detail(order_detail.id) %>
          <td><%= f.select :product_status, options_from_collection_for_select(Order_details.all, :id, :product_status) %></td>
          <td><%= f.submit "更新", class: "btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>商品合計</td>
        <td></td>
      </tr>
      <tr>
        <td>送料</td>
        <td></td>
      </tr>
      <tr>
        <td>請求金額合計</td>
        <td></td>
      </tr>
    </tfoot>
  </table>